.wrapper {
  width: 192px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #353c53;
}

.walletIcon {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.creditsTitle {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.creditValue {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
