.wrapper {
  min-width: 204px;
  height: 850px;
  padding: 16px 10px;
  background-color: #1e2640;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
